<div class="fixed-crossbrowser-background"></div>
<body id="back_image">
<div class="depot_form">
	<% if flash[:alert] %>
	<p id="notice"><%= flash[:alert] %></p>
<% end %>

<div id="ses_area" >
<%= form_tag do %>
<fieldset>
<legend class="header">Please Log In</legend>

<h3>Credential</h3>
<h3>Login: pivorak</h3>
<h3>Password: rubycourse</h3>
  <div class = "field">
    <%= label_tag :name , 'User' %>:
    <%= text_field_tag :name ,params[:name],placeholder: 'Login', :pattern => '^[A-Za-zА-Яа-яЁё]{2,20}', :required => true  %>
  </div>
  <br/>
  <div class = "field">
    <%= label_tag :password ,'Password'%>:
    <%= password_field_tag :password, params[:password] , placeholder: 'Password', :required => true  %>
  </div>

 <br/>
 
  <div class="actions" >
    <%= submit_tag "Login" , :class => 'submit'%>
  </div>
  </fieldset>
<% end %>
</div>
</div>
</body>
