<html>
<body id = "baca">
<div class="fixed-crossbrowser-background"></div>
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Igor', :pattern => '\D[^0-9~!@№#$%:,^&.*()_+={};:<>"\s]{1,20}', :required => true %>
  </div>

  <div class="field">
    <%= f.label :city , t('city')%>
    <%= f.text_field :city, placeholder: 'Lviv', :pattern => '\D[^0-9~!@№#$%:,^&.*()_+={};:<>"\s]{1,20}', :required => true %>
  </div>
  <div class="field">
    <%= f.label :email , t('email') %>
    <%= f.email_field :email, placeholder: 'pivorak@gmail.com', :pattern => '^[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$', :required => true  %>
    <span class="form_hint"><%='pivorak@gmail.com'%></span>
  
  <div class="actions">
    <%= f.submit 'Make Order', :class => 'submit' %>
  </div>


<% end %>


</body>
</html>

