
<h1>Listing tickets</h1>

  <div class="new"><%= link_to 'New Ticket', new_ticket_path%></div>

  <div class="itemz">
  <% @tickets.each do |ticket| %>
     <div class="item">
      <%= image_tag(ticket.image_url, class:'list_image')%>
      
       <br/>
      <i><%= ticket.count %></i>
      <br/>
      
      <i><%= ticket.place %></i>
            
      <br/>
      <i><%= ticket.arrive %></i>
            
      <br/>
            
      <i><%= ticket.departure %></i>
            
      <br/>

       <div id="prci"><%= sprintf("₴%0.02f",ticket.price, :unit => 'UAH', format: "%n %u") %></div>

      <br/>
     
     <div class="show"> <%= link_to 'Show', ticket %></div>
     <div class="edit"> <%= link_to 'Edit', edit_ticket_path(ticket) %></div>
     <div class="destroy"> <%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></div><br/>
   

  </div>
  

<% end %>


</div>
