

<p>
  <strong>Count:</strong>
  <%= @ticket.count %>
</p>

<p>
  <strong>Place:</strong>
  <%= @ticket.place %>
</p>

<p>
  <strong>Arrive:</strong>
  <%= @ticket.arrive %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @ticket.departure %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @ticket.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ticket.price %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
