/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
        #notice {
          position: absolute;
          top:-3%;
          left:22%;
          padding: 1em;
          color: #000 !important;
          border: 2px solid rgb(0, 174, 193);
          margin-bottom: 2em;
          width: 40%;
          background-color: white;
          font: bold smaller sans-serif;
        }



	   .submit{
    	   
    	   
    	   border: 1px solid #00727a;
    	   border-bottom: 1px solid #00949c;
    	   border-radius: 10px;
    	   color: black;
    	   padding: 6px 20px;
    	   text-align: center;
    	   text-decoration: none;
	   }

	   .submit:hover {
    	   opacity: 1;
    	   cursor: pointer;
    	   color:black;
    	   background-color: green;

	   }

	   .submit:active {
    	   border: 1px solid #00919e;
    	   
	   }

	   .submit_red{
	   	   margin-top: 10px;
    	   background-color: #00afbf;
    	   background: linear-gradient(top, #00afbf, #008591);
    	   border: 1px solid #00727a;
    	   border-bottom: 1px solid #00949c;
    	   border-radius: 10px;
    	   color: white;
    	   padding: 6px 20px;
    	   text-align: center;
    	   text-decoration: none;
	   }

	   .submit_red:hover {
    	   opacity: 1;
    	   cursor: pointer;
    	   background-color: red;

	   }

	   .submit_red:active {
    	   border: 1px solid #00919e;
    	   }
    