// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.fixed-crossbrowser-background {
            position: fixed;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
         
            background-image: image-url("bus3.jpg");
            background-size: cover;
            opacity: 1;
            z-index: -1;

        }

 body, html {
     position: absolute;

            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            top: 0;
            left: 0;
            min-height: 100%;
          }


#orders_area {

 
    width: 60%;
    height: 70%;
    margin: 5% 20%;
    padding: 1% !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: linear-gradient(top, rgba(0, 0, 0, .9) 0%, rgba(255, 255, 255, 0) 100%);
    padding: 0 1%;
    position: absolute;
    background-size: cover;



    .field {
    	width:80%;
    	margin: 1% 8%;
     	padding: 1%;
    	border-bottom: 1px solid rgb(26, 26, 26);
    	position: relative;
	}

    :focus {
    	outline: none;
    }

    label {
    	font-family: "Monotype Corsive" cursive;
    	color: white;
		text-shadow: 2px 2px 2px black;
		width: 30%;
    	margin-top: 0.2%;
    	display: inline-block;
    	float: left;
    	padding: 1%;
	}

	input {
		border-radius: 10px;
    	height: 5%;
    	width: 35%;
    	padding: 1% 2%;
    	border: 1px solid #aaa;
    	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    	transition: padding .25s;
	}

	input:focus {
    	background: #fff;
    	border: 1px solid #555;
    	box-shadow: 0 0 3px #aaa;
    	padding-right: 10%;
    }

    input:required {
    	background: #fff image-url('red_asterisk.png') no-repeat 97% center;
	}

	input:focus:invalid {
    	background: #fff image-url('invalid.png') no-repeat 97% center;
    	box-shadow: 0 0 5px #d45252;
    	border-color: #b03535;
	}

	input:required:valid{
    	background: #fff image-url('valid.png') no-repeat 97% center;
    	box-shadow: 0 0 5px #5cd053;
    	border-color: #86b85f;
	}

	.form_hint {
    	background: #d45252;
    	border-radius: 3px 3px 3px 3px;
    	color: white;
    	margin-left: 8px;
    	padding: 1px 6px;
    	z-index: 999;
    	position: absolute;
    	display: none;
	}

	.form_hint::before { 
    	content: "\25C0";
    	color: #d45252; 
    	position: absolute; 
    	top: 1px; 
    	left: -6px; 
	}

	input:focus + .form_hint {
		display: inline;
	}

	input:required:valid + .form_hint {
		background: #86b85f;
	}

	input:required:valid + .form_hint::before {
		color: #86b85f;
	}

	.actions {
		margin-top: 4%;
		margin-left: 39%;

	   .submit{
    	   background-color: #00afbf;
    	   background: linear-gradient(top, #00afbf, #008591);
    	   border: 1px solid #00727a;
    	   border-bottom: 1px solid #00949c;
    	   border-radius: 10px;
    	   box-shadow: inset 0 1px 0 0 #00e3f7;
    	   color: white;
    	   font-weight: bold;
    	   padding: 6px 20px;
    	   text-align: center;
    	   text-shadow: 0 -1px 0 #006973;
	   }

	   .submit:hover {
    	   opacity:.85;
    	   cursor: pointer;
	   }

	   .submit:active {
    	   border: 1px solid #00919e;
    	   box-shadow: 0 0 10px 5px #006c75 inset;
	   }
    }

    .form_hint, .required_notification {
        font-size: 11px;
    }

    .header {
   	    display: inline;
   	    font-family: "Monotype Corsive" cursive;
        color: white;
        font-size: 15px;
        font-weight: bold;
    }

    .required_notification {
        color: #d45252;
        display: inline;
        float: right;
    }


}