
  .fixed-crossbrowser-background {
            position: fixed;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
         
            background-image: image-url("bus3.jpg");
            background-size: cover;
            opacity: 1;
            z-index: -1;

        }



        .submit_store{
         
         margin-left: 45%; 
         border: 1px solid #00727a;
         border-bottom: 1px solid #00949c;
         border-radius: 10px;
         padding: 6px 20px;
         text-align: center;
         text-decoration: none;
         background-color: black;
         
     }

     

     .submit_store:hover {
         opacity: 1;
         cursor: pointer;
         color:black;
         background-color: green;

     }

     .submit_store:active{
         border: 1px solid #00919e;
         background:white;
         
     }



.list_image2 {
    width: 150px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: -10px;
    cursor: pointer;
  }
  
  .items {
    padding: 0 3%;
      min-width: 24.6%;
      min-height: 255px;
      position:absolute;
      margin-top: 7%;

        }

    
     
    .item2 {
      width: 296px;
      min-width: 295px;
      min-height: 255px;
      max-height: 272px;
      position: relative;
      border-radius: 10px;
      padding: 10px 25px;
      float: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 3px groove;
      border-color: black;
      background-color: rgba(0, 0, 0, 0.7);

      i {
        color: white;
        float: right;
        margin-top: 0%;
        margin-right: -5%;
      }
      #prc {
       
        color: white;
        text-shadow: 2px 2px 4px black;
        float: right;
        margin-top: 5%;
      }
  }
  
  .seats{
  	 
  	
  	margin-top: -65%;
  	margin-left: 170px;	
  	z-index: 1000;

    h3{
        margin-top: -30%;
        color:white;
        margin-left: 35%;
        font-family: "Comic Sans MS", cursive, sans-serif;
    }

}
  	
  

  #seat1{

  		  display: inline-block;
        text-shadow: 2px 2px 3px black;
        color: white;
        background: rgba(1, 1, 1, 0);
        text-decoration: none;
        user-select: none;
        padding: 4px;
        outline: none;
        border: 2px solid white;
        border-radius: 1px;
        transition: 0.2s;
        margin-top: -18%;
        padding: 5px 7px;
        border-radius: 10px;

  }

  	#seat1:hover {
        background: rgba(255, 255, 255, .2);
        text-shadow: 2px 2px 3px black;
        
      }



     .button-clicked {
  background: red;
} 
    

       #seat2{

  		display: inline-block;
        text-shadow: 2px 2px 3px black;
        color: white;
        background: rgba(1, 1, 1, 0);
        text-decoration: none;
        user-select: none;
        padding: 4px;
        outline: none;
        border: 2px solid white;
        border-radius: 1px;
        transition: 0.2s;
        
        margin-top: -18%;
        
        padding: 5px 7px;
        border-radius: 10px;

  }

  	#seat2:hover {
        background: rgba(255, 255, 255, .2);
        text-shadow: 2px 2px 3px black;
      }
      #seat2:active {
        background: white;

        
      }

       #seat3{

  		display: inline-block;
        text-shadow: 2px 2px 3px black;
        color: white;
        background: rgba(1, 1, 1, 0);
        text-decoration: none;
        user-select: none;
        padding: 4px;
        outline: none;
        border: 2px solid white;
        border-radius: 1px;
        transition: 0.2s;
        
        margin-top: -18%;
        	
        padding: 5px 7px;
        border-radius: 10px;

  }

  	#seat3:hover {
        background: rgba(255, 255, 255, .2);
        text-shadow: 2px 2px 3px black;
      }
      #seat3:active {
        background: white;

        
      }

       #seat4{

  		display: inline-block;
        text-shadow: 2px 2px 3px black;
        color: white;
        background: rgba(1, 1, 1, 0);
        text-decoration: none;
        user-select: none;
        padding: 4px;
        outline: none;
        border: 2px solid white;
        border-radius: 1px;
        transition: 0.2s;

        margin-top: -18%;

        padding: 5px 7px;
        border-radius: 10px;

  }

  	#seat4:hover {
        background: rgba(255, 255, 255, .2);
        text-shadow: 2px 2px 3px black;
      }
      #seat4:active {
        background: white;

        
      }

       #seat5{

  		display: inline-block;
        text-shadow: 2px 2px 3px black;
        color: white;
        background: rgba(1, 1, 1, 0);
        text-decoration: none;
        user-select: none;
        padding: 4px;
        outline: none;
        border: 2px solid white;
        border-radius: 1px;
        transition: 0.2s;
        padding: 5px 7px;
        border-radius: 10px;

  }

  	#seat5:hover {
        background: rgba(255, 255, 255, .2);
        text-shadow: 2px 2px 3px black;
      }
      #seat5:active {
        background: white;

        
      }

        #seat6{

  		display: inline-block;
        text-shadow: 2px 2px 3px black;
        color: white;
        background: rgba(1, 1, 1, 0);
        text-decoration: none;
        user-select: none;
        padding: 4px;
        outline: none;
        border: 2px solid white;
        border-radius: 1px;
        transition: 0.2s;
        
        
        
        padding: 5px 7px;
        border-radius: 10px;

  }

  	#seat6:hover {
        background: rgba(255, 255, 255, .2);
        text-shadow: 2px 2px 3px black;
      }
      #seat6:active {
        background: white;

        
      }

        #seat7{

  		display: inline-block;
        text-shadow: 2px 2px 3px black;
        color: white;
        background: rgba(1, 1, 1, 0);
        text-decoration: none;
        user-select: none;
        padding: 4px;
        outline: none;
        border: 2px solid white;
        border-radius: 1px;
        transition: 0.2s;
        
        
        
        padding: 5px 7px;
        border-radius: 10px;

  }

  	#seat7:hover {
        background: rgba(255, 255, 255, .2);
        text-shadow: 2px 2px 3px black;
      }
      #seat7:active {
        background: white;

        
      }

        #seat8{

  		display: inline-block;
        text-shadow: 2px 2px 3px black;
        color: white;
        background: rgba(1, 1, 1, 0);
        text-decoration: none;
        user-select: none;
        padding: 4px;
        outline: none;
        border: 2px solid white;
        border-radius: 1px;
        transition: 0.2s;
        
        
        
        padding: 5px 7px;
        border-radius: 10px;

  }

  	#seat8:hover {
        background: rgba(255, 255, 255, .2);
        text-shadow: 2px 2px 3px black;
      }
      #seat8:active {
        background: white;

        
      }



