
  .list_image {
    width: 150px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: -10px;
    cursor: pointer;
  }
  
  .itemz {
    padding: 0 3%;
      min-width: 24.6%;
      min-height: 255px;
      position:absolute;
      margin-top: 5%;

        }

    
     
    .item {
      width: 296px;
      min-width: 295px;
      min-height: 255px;
      max-height: 272px;
      position: relative;
      border-radius: 10px;
      padding: 10px 25px;
      float: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 3px groove;
      border-color: black;
      background-color: rgba(0, 0, 0, 0.7);

      i {
        color: white;
        float: right;
        margin-top: -30%;
        margin-right: -5%;
      }
      #prci {
       
        color: white;
        text-shadow: 2px 2px 4px black;
        float: right;
        margin-top: -20%;
      }

   


  }

  .show{

         margin-left: -5%;
         margin-top: -30%;
         width: 10%;
         border: 1px solid #00727a;
         border-bottom: 1px solid #00949c;
         border-radius: 10px;
         color: black;
         padding: 6px 20px;
         text-align: center;
         text-decoration: none;
     }

     .show:hover {
         opacity: 1;
         cursor: pointer;
         color:black;
         background-color: green;


     }

     .show:active {
         border: 1px solid #00919e;
         
     }

     .edit{
         
         margin-left: 22%;
         margin-top: -11%;
         width: 10%;
         border: 1px solid #00727a;
         border-bottom: 1px solid #00949c;
         border-radius: 10px;
         color: black;
         padding: 6px 20px;
         text-align: center;
         text-decoration: none;
     }

     .edit:hover {
         opacity: 1;
         cursor: pointer;
         color:black;
         background-color: green;

     }

     .edit:active {
         border: 1px solid #00919e;
         
     }

     .destroy{
         
         margin-top: -11%;
         margin-left: 50%;  
         width: 10%;
         border: 1px solid #00727a;
         border-bottom: 1px solid #00949c;
         border-radius: 10px;
         color: black;
         padding: 6px 20px;
         text-align: center;
         text-decoration: none;
     }

     .destroy:hover {
         opacity: 1;
         cursor: pointer;
         color:black;
         background-color: green;

     }

     .destroy:active {
         border: 1px solid #00919e;
         
     }

     .new{
         
         margin-top: 1%;
         margin-left: 38%;  
         width: 10%;
         border: 1px solid #00727a;
         border-bottom: 1px solid #00949c;
         border-radius: 10px;
         color: black;
         padding: 6px 20px;
         text-align: center;
         text-decoration: none;
     }

     .new:hover {
         opacity: 1;
         cursor: pointer;
         color:black;
         background-color: green;

     }

     .new:active {
         border: 1px solid #00919e;
         
     }


