
<% if notice %>
<p id = "notice"> <%= notice %></p>
<% end %>

<%= link_to 'Admin', admin_path , :class => 'submit_store'%>
<div class="fixed-crossbrowser-background"></div>


<div class="items">
  <% @tickets.each do |ticket| %>

  <div class="item2">
    
      <%= image_tag(ticket.image_url, class:'list_image2')%>  
      <br/>

        <div class = "seats">

        <h3>seats</h3>
        <class id = "seat1"><%= link_to '1', new_order_path(ticket_id: ticket) %></class> 
        <class id = "seat2"><%= link_to '2', new_order_path(ticket_id: ticket) %></class>
        &nbsp;&nbsp;  
        <class id = "seat3"><%= link_to '3', new_order_path(ticket_id: ticket) %></class>
        <class id = "seat4"><%= link_to '4', new_order_path(ticket_id: ticket) %></class>
        </br> 
        <class id = "seat5"><%= link_to '5', new_order_path(ticket_id: ticket) %></class>
        <class id = "seat6"><%= link_to '6', new_order_path(ticket_id: ticket) %></class>
        &nbsp;&nbsp;
        <class id = "seat7"><%= link_to '7', new_order_path(ticket_id: ticket) %></class>
        <class id = "seat8"><%= link_to '8', new_order_path(ticket_id: ticket) %></class> 
        
        </div>
      <i><%= ticket.count %></i>
       <br/>

      <i> <%= ticket.place %></i>
      <br/>
      <i><%= ticket.arrive %></i>
      <br/>
      <i><%= ticket.departure %></i>
      <br/>
      <div id="prc"><%= sprintf("₴%0.02f",ticket.price, :unit => 'UAH', format: "%n %u") %></div>
      <br/>    
      </div>
      <% end %>
      </div> 
      

  
 
 

 

 
   

 		



