<!DOCTYPE html>
<html>
  <head>
    <title>Autotickets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

	<% if session[:user_id] %>
  	 

  	 <%= link_to 'Orders', orders_path , :class => 'submit' %>
     <%= link_to 'Races', line_items_path , :class => 'submit' %>
  	 <%= link_to 'Tickets', tickets_path, :class => 'submit' %>
  	 <%= link_to 'Users', users_path , :class => 'submit'%>
  	
  	 <%= button_to 'Logout', logout_path, method: :delete , :class => 'submit_red'%>
  	 <% end %>

    <%= yield %>
  </body>
</html>
